@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Software: @ViewData["Software"]</p>

<address>
    <a href="github.com/valento45">github.com/valento45</a>
</address>
